.greetingForm {
}

.inputAndButtonContainer {
    display: flex;
    position: relative;

}

.error {
    position: absolute;
    color: #CC0000;
    top: 40px;
    left: 0;
}

.input {
    border: 1px solid #D1D1D1;
    width: 372px;
    height: 36px;
    border-radius: 5px;
    outline: none;
}

.input:focus {
}

.errorInput {
    border: 1px solid #CC0000;
    width: 372px;
    height: 36px;
    border-radius: 5px;
    outline: none;
}

.button {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 5px 24px;
    margin-left: 12px;
    background-color: #0066CC;
    border-radius: 3px;
    text-transform: capitalize;
    color: #fff;
    font-weight: 600;
    border: none;
    cursor: pointer;
}

.button:focus {

}

.button:active {
}

.button:disabled {
    opacity: 0.5;
}

.text {
    font-size: 14px;
}

.greeting {
}
